<h2>Edit <%= @trail.name %></h2>


<form action="/trails/<%= @trail.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Trail Name: </label> 
  <input type="text" name="trail[name]" id="Name" value="<%= @trail.name %>">

  <br>
  <label>Length: <input type="text" name="trail[length]" id="Length" value="<%= @trail.length %>"> miles</label> 

  <br>

  <label>Bathroom: </label> 
  <label for="bathroom"> Yes </label><input type="radio" name="trail[bathroom]" value="Yes" <%='checked' if @trail.bathroom == "Yes" %>/>
  <label for="bathroom"> No </label><input type="radio" name="trail[bathroom]" value="No" <%='checked' if @trail.bathroom == "No" %>/>
  <label for="bathroom"> Unknown </label><input type="radio" name="trail[bathroom]" value="Unknown" <%='checked' if @trail.bathroom == "Unknown" %>/>
  
  <br>

  <label>Cell Reception: </label> 
  <label for="cell reception"> Yes </label><input type="radio" name="trail[cell_reception]" value="Yes" <%='checked' if @trail.cell_reception == "Yes" %>/>
  <label for="cell reception"> No </label><input type="radio" name="trail[cell_reception]" value="No" <%='checked' if @trail.cell_reception == "No" %> />
  <label for="cell reception"> Unknown </label><input type="radio" name="trail[cell_reception]" value="Unknown" <%='checked' if @trail.cell_reception == "Unknown"%> />

  <br>
  <br>

  <label>Choose an existing category/categories:</label>
 
  <br>
  <% Category.all.each do |category| %>
  <input type="checkbox" name="categories[]" value="<%= category.id %>" <%='checked' if @trail.categories.include?(category) %>>
  <%= category.name %>
  <% end %>

  <br>
  <br>

  <label>and/or, create a new category: <input type="text" name="category[name]" ></label>

  <br></br>
  <br>
  <input type="submit" id="submit" value="Save">
</form>
<br>
<br>
<a href="/trails">Home</a>
