<h2>Edit <%= @trail.name %></h2>


<form action="/trails/<%= @trail.slug %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">

  <label>Trail Name: </label> 
  <input type="text" name="trail[name]" id="Name" value="<%= @trail.name %>">

  <br>
  <label>Length: <input type="text" name="trail[length]" id="Length" value="<%= @trail.length %>"> miles</label> 

  <br>

  <label>Bathroom: </label> 
  <label for="bathroom"> Yes <input type="radio" name="trail[bathroom]" value="Yes" <%='checked' if @trail.bathroom == "Yes" %>/></label>
  <label for="bathroom"> No <input type="radio" name="trail[bathroom]" value="No" <%='checked' if @trail.bathroom == "No" %>/></label>
  <label for="bathroom"> Unknown <input type="radio" name="trail[bathroom]" value="Unknown" <%='checked' if @trail.bathroom == "Unknown" %>/></label>
  
  <br>

  <label>Cell Reception: </label> 
  <label for="cell reception"> Yes <input type="radio" name="trail[cell_reception]" value="Yes" <%='checked' if @trail.cell_reception == "Yes" %>/></label>
  <label for="cell reception"> No <input type="radio" name="trail[cell_reception]" value="No" <%='checked' if @trail.cell_reception == "No" %> /></label>
  <label for="cell reception"> Unknown <input type="radio" name="trail[cell_reception]" value="Unknown" <%='checked' if @trail.cell_reception == "Unknown"%> /></label>

  <br>
  <br>

  <label>Choose an existing category/categories:
  <br>
  <br>
  <% Category.all.each do |category| %>
  <input type="checkbox" name="categories[]" value="<%= category.id %>" <%='checked' if @trail.categories.include?(category) %>>
  <%= category.name %>
  <% end %></label>

  <br>
  <br>

  <label>and/or, create a new category: <input type="text" name="category[name]" ></label>
  <br>
  <br>

  <label>Memo: <input type="text" name="trail[memo]" id="Memo" value="<%= @trail.memo %>"></label>
  <br></br>
  <br>
  <input type="submit" id="submit" class="btn btn-lg btn-info" value="Save">
</form>
<br>
<br>
<a href="/trails" class="btn btn-lg btn-info link-button">Home</a>
