<h3><%= @trail.name %> - Trail details</h3>
<br>
<h3>Length: <%= @trail.length %> miles</h3>
<br>
<h3>Is there a bathroom?: <%= @trail.bathroom %> </h3>
<br>
<h3>Is there a cell reception?: <%= @trail.cell_reception %> </h3>
<br>
<br>
<h3>Category/Categories: </h3>
<% @trail.categories.each do |category| %>
  <ul>  
    <li>*<%= category.name %></li>    
  </ul>
<% end %>
<br>
<br>
<a href="/trails">Go back to trails</a>
<br>
<br>

<% if @trail.user == current_user %>
  <a href="/trails/<%=@trail.slug%>/edit">Edit Trail </a> 
<% end %>


<br>
<br>
<% if @trail.user == current_user %>
  <form method="post" action="/trails/<%=@trail.slug%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Trail">
  </form>
<% end %>

