<h4><%= @trail.name %> - Trail details</h4>
<br>
<h4>Length: <%= @trail.length %> miles</h4>
<br>
<h4>Is there a bathroom?: <%= @trail.bathroom %> </h4>
<br>
<h4>Is there a cell reception?: <%= @trail.cell_reception %> </h4>
<br>
<br>
<h4>Category/Categories: </h4>
<% @trail.categories.each do |category| %>
  <ul>  
    <p><li><%= category.name %></li></p>    
  </ul>
<% end %>
<br>
<br>
<h4>Memo: </h4><p><%= @trail.memo %></p>
<br>
<br>
<a href="/trails" class="btn btn-lg btn-info link-button">Go back to trails</a>
<br>
<br>

<% if @trail.user == current_user %>
  <a href="/trails/<%=@trail.slug%>/edit" class="btn btn-lg btn-info link-button">Edit Trail </a> 
<% end %>


<br>
<br>
<% if @trail.user == current_user %>
  <form method="post" action="/trails/<%=@trail.slug%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Trail" class="btn btn-lg btn-info delete">
  </form>
<% end %>

